/* Schrijf hier de verschillende stijlen, die gedeeld gaan
   worden door jullie projecten */

/* Kleuren */
body{
    --background-color: #000000;
    --primary-color: #FFFF;
    --secondary-color: #A6A6A6;
    --btn-rouwtaak1: #64AAC7;
    --btn-rouwtaak2: #984A4A;
    --btn-rouwtaak3: #6E9158;
    --btn-rouwtaak4: #7C6097;


/* Typografie */

    --font-size-text: 16px;
    --font-size-header-s: 24px;
    --font-size-header-m: 32px;
    --font-size-header-l: 48px;

    --font-family-header: "Calvino Grande Trial";
    --font-family-text: "Figtree", sans-serif;

    --font-family: var(--font-family-header);

    --font-weight-header: 800;
    --font-weight-text: 200;
}

figure{
    .background-color{
        background-color: var(--background-color);
    }
    .primary-color{
        background-color: var(--primary-color);
    }
    .secondary-color{
        background-color: var(--secondary-color);
    }
    .btn-rouwtaak1{
        background-color: var(--btn-rouwtaak1);
    }
    .btn-rouwtaak2{
        background-color: var(--btn-rouwtaak2);
    }
    .btn-rouwtaak3{
        background-color: var(--btn-rouwtaak3);
    }
    .btn-rouwtaak4{
        background-color: var(--btn-rouwtaak4);
    }
}

h1 {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-header);
    font-size: var(--font-size-header-l);
    color: var(--primary-color);
}

h2 {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-t);
    font-size: var(--font-size-header-m);
    color: var(--primary-color);
}

h3 {
    font-family: var(--font-family-header);
    font-weight: var(--font-weight-header);
    font-size: var(--font-size-header-s);
    color: var(--primary-color);
}

p {
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text);
    font-size: var(--font-size-text);
    color: var(--primary-color);
}

/*vragenlijst*/

li {
    color: var(--primary-color);
}

ol { 
    color: var(--primary-color);
}

//* Formulier elementen */

/*login*/ 

/*checkbox*/


/* Start button */
a{
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 30.5px;
    border: 1px solid var(--primary-color); 
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}

a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}
/* andere buttons*/
button {
    text-decoration: none;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-radius: 30.5px;
    border: 1px solid var(--primary-color); 
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect */
button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}


